@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        ::-webkit-scrollbar {
            width: 14px;
            height: 14px;
        }

        ::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }

        ::-webkit-scrollbar-thumb {
            background: #86959c;
            border: 0px none #ffffff;
            border-radius: 14px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #596a73;
        }

        ::-webkit-scrollbar-thumb:active {
            background: #485861;
        }

        ::-webkit-scrollbar-track {
            background: #d6dadc;
            border: 0px none #ffffff;
            border-radius: 14px;
        }

        ::-webkit-scrollbar-track:hover {
            background: #b7bbbd;
        }

        ::-webkit-scrollbar-track:active {
            background: #9fa1a3;
        }

        ::-webkit-scrollbar-corner {
            background: transparent;
        }
    }
}